body{
    background-color: #CCCCFF;
    font-size: 14pt;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    
}
#me{
    font-size: 32pt;
    font-weight: bold;
    text-align: center;

}

#viewBoard{
    font-size: 12pt;
    font-weight: bold;
    font-family: monospace;
    width: 90%;
    height: 400px;
    margin: auto;
}

.controls{
    border: 5px solid black; 
    width: 10%;
    display: inline-block;
    font-weight: bold;
}

#allControls{
    display: inline;
    margin: auto;
}

#validation {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
    text-align: right;
}

